<div id="about-container">
    <div class="about-content">
        <!-- Foto o Avatar -->
        <div class="about-photo">
            <img src="assets/fotoAbout.png" alt="Foto Personal" class="avatar">
        </div>

        <!-- Biografía -->
        <div class="about-bio">
            <h2>
                <picture>
                    <img src="https://github.com/7oSkaaa/7oSkaaa/blob/main/Images/about_me.gif?raw=true" width="30px"
                        alt="About Me Icon">
                </picture>
                Acerca de Mí
            </h2>
            <p>
                Durante mi estancia en el TEC he tenido la oportunidad de trabajar en asistencias especiales de proyectos de desarrollo de web y análisis de datos.
                Disfruto aprender nuevas tecnologías y aplicarlas en proyectos. Como hobbie he adquirido experiencia en sistemas linux. 
            </p>
        </div>

        <!-- Aptitudes Técnicas y Sociales -->
        <div class="skills-section">
            <h3>
                <picture>
                    <img src="https://github.com/7oSkaaa/7oSkaaa/blob/main/Images/about_me.gif?raw=true" width="30px"
                        alt="Skills Icon">
                </picture>
                My Skills
            </h3>

            <!-- Programming Languages -->
            <div class="skill-category">
                <h4>Programming Languages</h4>
                <div class="skill-icons">
                    <img src="https://img.shields.io/badge/JavaScript-F7DF1E?style=flat-square&logo=JavaScript&logoColor=white"
                        alt="JavaScript">
                    <img src="https://img.shields.io/badge/Python-3776AB?style=flat-square&logo=Python&logoColor=white"
                        alt="Python">
                    <img src="https://img.shields.io/badge/Shell-FFD500?style=flat-square&logo=Shell&logoColor=white"
                        alt="Shell">
                    <img src="https://img.shields.io/badge/-C++-blue?logo=cplusplus" alt="C++">
                    <img src="https://img.shields.io/badge/Kotlin-0095D5?&style=for-the-badge&logo=kotlin&logoColor=white"
                        alt="Kotlin">
                    <img src="https://img.shields.io/badge/Go-00ADD8?style=for-the-badge&logo=go&logoColor=white"
                        alt="Go">
                    <img src="https://img.shields.io/badge/bash%20script-0101?style=flat&logo=gnubash&logoColor=%23FFFFFF&labelColor=%23000000"
                        alt="Bash Script">
                </div>
            </div>

            <div class="skill-category">
                <h4>Data Analysis</h4>
                <div class="skill-icons">
                    <img src="https://img.shields.io/badge/Pandas-150458?style=flat-square&logo=pandas&logoColor=white"
                        alt="Pandas">
                    <img src="https://img.shields.io/badge/Numpy-013243?style=flat-square&logo=numpy&logoColor=white"
                        alt="Numpy">
                    <img src="https://img.shields.io/badge/Scikit-learn-F7931E?style=flat-square&logo=scikit-learn&logoColor=white"
                        alt="Scikit-learn">
                    <img src="https://img.shields.io/badge/MySQL-4479A1?style=flat-square&logo=MySQL&logoColor=white"
                        alt="MySQL">
                    <img src="https://img.shields.io/badge/PowerBI-F2C811?style=flat-square&logo=PowerBI&logoColor=white"
                        alt="PowerBI">
                    <img src="https://img.shields.io/badge/PostgreSQL-000?style=for-the-badge&logo=postgresql"
                        alt="PostgreSQL">
                </div>
            </div>
            <div class="skill-category">
                <h4>Machine Learning</h4>
                <div class="skill-icons">
                    <img src="https://img.shields.io/badge/Scikit-learn-F7931E?style=flat-square&logo=scikit-learn&logoColor=white"
                        alt="Scikit-learn">
                    <img src="https://img.shields.io/badge/TensorFlow-FF6F00?style=flat-square&logo=TensorFlow&logoColor=white"
                        alt="TensorFlow">
                    <img src="https://img.shields.io/badge/Keras-D00000?style=flat-square&logo=Keras&logoColor=white"
                        alt="Keras">
                    <img src="https://img.shields.io/badge/PyTorch-EE4C2C?style=flat-square&logo=PyTorch&logoColor=white"
                        alt="PyTorch">
                    <img src="https://img.shields.io/badge/OpenCV-5C3EE8?style=flat-square&logo=OpenCV&logoColor=white"
                        alt="OpenCV">
                    <img src="https://img.shields.io/badge/Scikit-learn-F7931E?style=flat-square&logo=scikit-learn&logoColor=white"
                        alt="Scikit-learn">
                </div>
            </div>

            <div class="skill-category">
                <h4>Cloud Computing</h4>
                <div class="skill-icons">
                    <img src="https://img.shields.io/badge/AWS-232F3E?style=flat-square&logo=AmazonAWS&logoColor=white"
                        alt="AWS">
                    <img src="https://img.shields.io/badge/Azure-0089D6?style=flat-square&logo=MicrosoftAzure&logoColor=white"
                        alt="Azure">
                    <img src="https://img.shields.io/badge/Google%20Cloud-4285F4?style=flat-square&logo=GoogleCloud&logoColor=white"
                        alt="Google Cloud">
                    <img src="https://img.shields.io/badge/Docker-2496ED?style=flat-square&logo=Docker&logoColor=white"
                        alt="Docker">
                    <img src="https://img.shields.io/badge/Kubernetes-326CE5?style=flat-square&logo=Kubernetes&logoColor=white"
                        alt="Kubernetes">
                    <img src="https://img.shields.io/badge/heroku-%23430098.svg?style=for-the-badge&logo=heroku&logoColor=white"
                        alt="Heroku">
                    <img src="https://img.shields.io/badge/MySQL-000?style=for-the-badge&logo=firebase&logoColor=ffca28"
                        alt="Firebase">
                </div>
            
            </div>

            <!-- Web Development -->
            <div class="skill-category">
                <h4>Web</h4>
                <div class="skill-icons">
                    <img src="https://img.shields.io/badge/HTML-E34F26?style=flat-square&logo=HTML5&logoColor=white"
                        alt="HTML5">
                    <img src="https://img.shields.io/badge/CSS-1572B6?style=flat-square&logo=CSS3&logoColor=white"
                        alt="CSS3">
                    <img src="https://img.shields.io/badge/React-20232A?style=for-the-badge&logo=react&logoColor=61DAFB"
                        alt="React">
                    <img src="https://img.shields.io/badge/Node.js-43853D?style=flat-square&logo=Node.js&logoColor=white"
                        alt="Node.js">
                    <img src="https://img.shields.io/badge/Express.js-000?style=for-the-badge&logo=express&logoColor=white"
                        alt="Express.js">
                    <img src="https://img.shields.io/badge/Axios-5A29E4?style=flat-square&logo=Axios&logoColor=white"
                        alt="Axios">
                    <img src="https://img.shields.io/badge/Vite-646CFF?logo=vite&logoColor=fff&style=for-the-badge"
                        alt="Vite">
                </div>
            </div>

            <!-- Frameworks -->
            <div class="skill-category">
                <h4>Some Libraries & Frameworks</h4>
                <div class="skill-icons">
                    <img src="https://img.shields.io/badge/flask-%23000.svg?style=for-the-badge&logo=flask&logoColor=white"
                        alt="Flask">
                    <img src="https://img.shields.io/badge/.NET-5C2D91?style=for-the-badge&logo=.net&logoColor=white"
                        alt=".NET">
                    
                </div>
            </div>
            <!--  ------- -->
        </div>


        <!-- Sección de Currículum Vitae -->
        <div class="resume-section">
            <h3>Currículum Vitae</h3>
            <a href="assets\OlmanCE_CV.pdf" class="btn-download" download>Descargar CV</a>
            <div class="pdf-viewer">
                <iframe src="assets\OlmanCE_CV.pdf" class="cv-pdf" title="Currículum Vitae"></iframe>
            </div>
        </div>
    </div>
</div>