<div id="about-container" class="scroll-page">
    <div class="about-content">
        <!-- Foto o Avatar -->
        <div class="about-photo">
            <img src="assets/fotoVisa.png" alt="Foto Personal" class="avatar">
        </div>

        <!-- Biografía -->
        <div class="about-bio">
            <h2>
                <picture>
                    <img src="https://github.com/7oSkaaa/7oSkaaa/blob/main/Images/about_me.gif?raw=true" width="30px"
                        alt="About Me Icon">
                </picture>
                Acerca de Mí
            </h2>
            <p>
                Soy un estudiante apasionado por el desarrollo de software con un fuerte interés en la inteligencia
                artificial y las redes. Actualmente estoy completando mis estudios en ingeniería de software y me
                especializo en el desarrollo web. Disfruto aprender nuevas tecnologías y aplicarlas en proyectos
                innovadores.
            </p>
        </div>

        <!-- Aptitudes Técnicas y Sociales -->
        <div class="skills-section">
            <h3>
                <picture>
                    <img src="https://github.com/7oSkaaa/7oSkaaa/blob/main/Images/about_me.gif?raw=true" width="30px"
                        alt="Skills Icon">
                </picture>
                My Skills
            </h3>

            <!-- Programming Languages -->
            <div class="skill-category">
                <h4>Programming Languages</h4>
                <div class="skill-icons">
                    <img src="https://img.shields.io/badge/JavaScript-F7DF1E?style=flat-square&logo=JavaScript&logoColor=white"
                        alt="JavaScript">
                    <img src="https://img.shields.io/badge/Python-3776AB?style=flat-square&logo=Python&logoColor=white"
                        alt="Python">
                    <img src="https://img.shields.io/badge/Shell-FFD500?style=flat-square&logo=Shell&logoColor=white"
                        alt="Shell">
                    <img src="https://img.shields.io/badge/-C++-blue?logo=cplusplus" alt="C++">
                    <!-- Agrega más badges según sea necesario -->
                </div>
            </div>

            <!-- Web Development -->
            <div class="skill-category">
                <h4>Web</h4>
                <div class="skill-icons">
                    <img src="https://img.shields.io/badge/HTML-E34F26?style=flat-square&logo=HTML5&logoColor=white"
                        alt="HTML5">
                    <img src="https://img.shields.io/badge/CSS-1572B6?style=flat-square&logo=CSS3&logoColor=white"
                        alt="CSS3">
                    <img src="https://img.shields.io/badge/React-20232A?style=for-the-badge&logo=react&logoColor=61DAFB"
                        alt="React">
                    <!-- Agrega más badges según sea necesario -->
                </div>
            </div>

            <!-- Frameworks -->
            <div class="skill-category">
                <h4>Some Libraries & Frameworks</h4>
                <div class="skill-icons">
                    <img src="https://img.shields.io/badge/flask-%23000.svg?style=for-the-badge&logo=flask&logoColor=white"
                        alt="Flask">
                    <img src="https://img.shields.io/badge/.NET-5C2D91?style=for-the-badge&logo=.net&logoColor=white"
                        alt=".NET">
                    <!-- Agrega más badges según sea necesario -->
                </div>
            </div>

            <!-- Agrega más categorías según sea necesario -->

        </div>


        <!-- Sección de Currículum Vitae -->
        <div class="resume-section">
            <h3>Currículum Vitae</h3>
            <a href="../assets/curriculum.pdf" class="btn-download" download>Descargar CV</a>
        </div>
    </div>
</div>