<div id="blog-container">
    <div class="blog-content">
        <h2 class="section-title">Blog</h2>

        <!-- Lista de Publicaciones -->
        <div class="blog-list">
            <div class="blog-post">
                <div class="blog-post-content">
                    <h3 class="blog-title">
                        <a href="https://olmance.github.io/blog/post-errores-memoria-cpp.html">Errores comunes con el uso de la memoria en C++</a>
                    </h3>
                    <p class="blog-date">Publicado el: 5 de Septiembre de 2024</p>
                    <p class="blog-excerpt">
                        En este post, veremos algunos de los errores comunes relacionados con el mal uso de la memoria en C++. Exploraremos cómo identificar, prevenir y solucionar estos problemas para mejorar la eficiencia y seguridad de nuestros programas.
                    </p>
                    <a href="https://olmance.github.io/blog/post-errores-memoria-cpp.html" class="read-more">Leer más</a>
                </div>
            </div>
            <!-- ------------ -->
            <div class="blog-post">
                <div class="blog-post-content">
                    <h3 class="blog-title">
                        <a href="#">Listas enlazadas en C++</a>
                    </h3>
                    <p class="blog-date">Publicado : proximamente</p>
                    <p class="blog-excerpt">
                        Estructuras Dinámicas en C++: Implementando Listas Enlazadas de Forma Eficiente.
                    </p>
                    <a href="#" class="read-more">Leer más</a>
                </div>
            </div>
        </div>
    </div>
</div>