<div id="contact-container" class="scroll-page">
    <div class="contact-content">
        <h2>Contacto</h2>

        <!-- Información de Contacto -->
        <div class="contact-info">
            <p><strong>Teléfono:</strong> <a href="tel:+50661739195">+506 61739195</a></p>
            <p><strong>Correo Electrónico:</strong> <a href="mailto:email@ejemplo.com">olmancastro57@gmail.com</a></p>
            <p><strong>Ubicación:</strong> San Carlos, Costa Rica</p>
        </div>

        <!-- Enlaces a Redes Sociales -->
        <div class="social-links">
            <h3>Sígueme en</h3>
            <a href="https://www.linkedin.com/in/olman-castro-076a5a31a" target="_blank">
                <img src="https://img.shields.io/badge/LinkedIn-0077B5?style=for-the-badge&logo=linkedin&logoColor=white"
                    alt="LinkedIn">
            </a>
            <a href="https://github.com/OlmanCE" target="_blank">
                <img src="https://img.shields.io/badge/GitHub-181717?style=for-the-badge&logo=github&logoColor=white"
                    alt="GitHub">
            </a>
            <a href="https://twitter.com/tu-usuario" target="_blank">
                <img src="https://img.shields.io/badge/Twitter-1DA1F2?style=for-the-badge&logo=twitter&logoColor=white"
                    alt="Twitter">
            </a>
        </div>

        <!-- Mapa de Ubicación -->
        <div class="map-section">
            <h3>Mi Ubicación</h3>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3901.911649510306!2d-84.0918345847689!3d9.928069792904864!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0e33f4b67fd43%3A0x691fedcdd544b698!2sSan%20Jos%C3%A9%2C%20Costa%20Rica!5e0!3m2!1sen!2sus!4v1616592760287!5m2!1sen!2sus"
                width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</div>