<section class="hero">
    <div class="hero-content">
        <img src="assets/fotoVisa.png" alt="Imagen profesional" class="hero-image">
        <h1 class="hero-title">Olman Castro Espinoza</h1>
        <p class="hero-subtitle">Desarrollador de Software</p>
        <p class="hero-description">
            Bienvenido a mi portafolio. Aquí encontrarás una muestra de mis proyectos,
            un blog con mis pensamientos sobre la tecnología, y más sobre mi carrera
            como desarrollador de software. Explora y descubre cómo puedo ayudarte a llevar
            tus ideas al siguiente nivel.
        </p>
    </div>
</section>