<nav class="navbar">
    <div class="navbar-container">
        <a href="#hero-container" class="navbar-logo">
            <span class="logo-text">vim cv.html</span>
        </a>
        <ul class="navbar-menu">
            <li class="navbar-item"><a href="#hero-container" class="navbar-link">Inicio</a></li>
            <li class="navbar-item"><a href="#projects-container" class="navbar-link">Portafolio de Proyectos</a></li>
            <li class="navbar-item"><a href="#about-container" class="navbar-link">Acerca de Mi</a></li>
            <li class="navbar-item"><a href="#blog-container" class="navbar-link">Blog</a></li>
            <li class="navbar-item"><a href="#contact-container" class="navbar-link">Contacto</a></li>
        </ul>
        <button class="navbar-toggle" aria-label="Toggle navigation">
            <i class="fas fa-terminal"></i>
        </button>
    </div>
</nav>