<nav class="navbar">
    <div class="navbar-container">
        <a href="index.html" class="navbar-logo">Portafolio</a>
        <ul class="navbar-menu">
            <li class="navbar-item"><a href="index.html" class="navbar-link">Inicio</a></li>
            <li class="navbar-item"><a href="projects.html" class="navbar-link">Portafolio de Proyectos</a></li>
            <li class="navbar-item"><a href="about.html" class="navbar-link">Acerca de Mi</a></li>
            <li class="navbar-item"><a href="blog.html" class="navbar-link">Blog</a></li>
            <li class="navbar-item"><a href="contact.html" class="navbar-link">Contacto</a></li>
        </ul>
        <div class="navbar-toggle">
            <i class="fas fa-terminal"></i>
        </div>
    </div>
</nav>