<div class="projects-section">
  <h2>Some Projects</h2>
  <div class="projects-container">
    <div class="project-card">
      <div class="project-image">
        <img src="assets\imgProject2.png" alt="Project 1 Image">
        <div class="project-overlay">
          <a href="https://github.com/FabSDevX/G-Nails.git" target="_blank" class="project-link">Ver en GitHub</a>
          <a href="#" class="project-link">View Project</a>
        </div>
      </div>
      <div class="project-info">
        <h3>G-Nails</h3>
        <p>Website to manage nail appointments.</p>
        <ul class="tech-list">
          <li>React</li>
          <li>Firebase</li>
          <li>Material UI</li>
        </ul>
      </div>
    </div>
    <!-- ---- -->
    <div class="project-card">
      <div class="project-image">
        <img src="assets\imgProject1.png" alt="Project 1 Image">
        <div class="project-overlay">
          <a href="https://github.com/OlmanCE/front-survey.git" target="_blank" class="project-link">Ver en GitHub</a>
          <a href="#" class="project-link">View Project</a>
        </div>
      </div>
      <div class="project-info">
        <h3>Voting Site Web</h3>
        <p>Website for real-time voting.</p>
        <ul class="tech-list">
          <li>React</li>
          <li>TypeScript</li>
          <li>Material UI</li>
        </ul>
      </div>
    </div>
    <!-- -->
    <div class="project-card">
    <div class="project-image">
      <img src="assets\imgProject3.png" alt="Project 1 Image">
      <div class="project-overlay">
        <a href="https://github.com/OlmanCE/sopaLetras-prolog.git" target="_blank" class="project-link">Ver en
          GitHub</a>
        <a href="https://www.youtube.com/watch?v=PK19h_Zbf4s" target="_blank" class="project-link">Ver Proyecto</a>
      </div>
    </div>
    <div class="project-info">
      <h3>Word Search</h3>
      <p>Backend and Frontend of Basic Word Search.</p>
      <ul class="tech-list">
        <li>Java</li>
        <li>Prolog</li>
      </ul>
    </div>
  </div>
  <!-- ----- -->
</div>
</div>